/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
    font-family: "Roboto Condensed", sans-serif;
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}


/* Header and Hero */

.header, 
.hero {
    background-color: #1F2937;
}

.header {
    color: white;
    font-size: 24px;
    height: 30px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.logo {
    font-size: 56px;
    font-weight: 900;
    margin-right: 24px;
}

.right-links {
    display: flex;
    gap: 24px;
    margin-left: 24px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 80px;
    padding: 64px;
    flex-wrap: wrap-reverse;
}

.hero-text {
    width: 400px;
}

.hero-text .title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

hr {
    border: none;
    height: 1px;
    color: #bbbbbb;
    background: #bbbbbb;
}

/* .hero-text .subtitle {
    font-size: 24px;
    font-weight: 200;
    color: #f9faf8
} */

.hero-text p {
    font-size: 18px;
    color: rgb(178, 178, 178);
}

.hero img {
    width: 400px;
}

/* Instrument Cards */

.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.card-container .title {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card img {
    width: 200px;
}

.card {
    background-color: #f5f5f5;
    width: 200px;
    min-width: 200px;
    border: 4px solid #1d2634;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    margin: 24px 16px;
}

.card .card-title {
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card hr {
    border: none;
    height: 1px;
    color: #1d2634;
    background: #1d2634;
    width: 180px;
    margin: 0 10;
}

.card p {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

