body {
    display: flex;
    flex-direction: column;
    padding: 0;
    border: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: white;
}

.header, 
.hero {
    background-color: #1F2937;
}

.header {
    color: white;
    font-size: 24px;
    height: 30px;
    min-height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 48px;
}

.logo {
    font-size: 56px;
    font-weight: 900;
}

.right-links {
    display: flex;
    gap: 12px;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 80px;
    padding: 64px;
}

.hero-text {
    width: 400px;
}

.hero-text .title {
    font-size: 48px;
    font-weight: 700;
    color: #f9faf8;
}

hr {
    border: none;
    height: 1px;
    color: #bbbbbb;
    background: #bbbbbb;
}

/* .hero-text .subtitle {
    font-size: 24px;
    font-weight: 200;
    color: #f9faf8
} */

.hero-text p {
    font-size: 18px;
    color: rgb(178, 178, 178);
}

.hero img {
    width: 400px;
}

.cards {
    display: flex;
    justify-content: center;
}

.card img {
    width: 200px;
}

.card {
    background-color: #e5e7eb;
    width: 200px;
    border: 4px solid #1d2634;
    border-radius: 25px;
    overflow: hidden;
    text-align: center;
    margin: 32px 18px;
}

.card .card-title {
    color: #1f2937;
    font-size: 24px;
    font-weight: 900;
    margin-top: 8px;
    margin-bottom: 8px;
}

.card hr {
    border: none;
    height: 1px;
    color: #1d2634;
    background: #1d2634;
    width: 180px;
    margin: 0 10;
}

.card p {
    font-size: 18px;
    margin-top: 8px;
    margin-bottom: 8px;
}

